#loginmain{
    height: 100%;
    width:100%;
    background-color: #FFDCAE;
}

#loginpage .l1{
    color:#683612;
}

#loginpage{
    height: 400px;
    width: 850px;
    border-style:hidden;
    background-color: white;
    margin: auto;
    transform: translateY(40px);
    display:grid;
    grid-template-rows: auto auto;
    font-size: large;
    box-shadow: 2px 2px 40px black;
    
}

<!--#loginquote h1{
    font-size: 100px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 0px;
    font-family:sans-serif;
}

#loginquote p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70 px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 20px;

}

#loginpage #username,#password{
    border-radius: 7px;
    
}

img{
    height: 400px;
    width: 400 px;
}

#logindata{
    display: inline-block;
    position:absolute;
    top: 25px;
    right: 120px;

}

.l1{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #683612;
}

#loginbutton{
    border-radius: 20px;
    height: 50px;
    width:250px;
    background-color: #683612;
    color: white;
    font-size: medium;
    position: relative;
    left:4px
}

#username{
    height: 40px;
    width: 250px;
}

#password{
    height: 40px;
    width: 250px;
}
.forgotp{
    font-size:small;
}